body {
	background-color:rgb(168, 164, 164);
}

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-size: 36px;
	font-family: 'Roboto Mono', monospace;
	justify-content: center;
	color:darkslategray;
}

h1 {
	font-size: 3rem;
	color: rgb(82, 78, 78);
	justify-content: center;
	text-align: center;
	margin-top: 1rem;

}

p {
	color: white;
	text-align: center;
	margin-bottom: 1rem;
	color:rgb(82, 78, 78)
}

.btn {
	display:flex;
	font-size: 30px;
	padding: 1rem;
	width: 10rem;
	margin-bottom: 1rem;
	margin-left: 40%;
	text-decoration: none;
	color: lightgoldenrodyellow;
	background: rgb(82, 78, 78);
	border-radius: 40px;
}

.btn:hover {
	background:lightgoldenrodyellow;
	color: rgb(82, 78, 78);
}

li {
	display:flex;
	background: cornsilk;
	padding: 0.5rem;
	text-align:center;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

#currentTime {
	text-align: center;
	margin-top: 4rem;
	color: rgb(39, 35, 35);

}

#questionsDiv {
	text-align: center;
	color: rgb(39, 35, 35);
}
/*
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
	padding: 2rem;
}
 
/*
.flex-column {
	display: flex;
	flex-direction: column;
	flex: center;
	justify-content: center;
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.text-center{
	text-align: center;
}

.hidden {
	display: none;
}
*/



/*.choiceContainer {
    display: flex;
	justify-content: center;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 6px;
    background: darkgray;
    font-size: 18px;
}

.choiceContainer:hover {
    background: lightgoldenrodyellow;
}

.choiceText:hover {
	color:darkgrey;
}

.choiceLetter:hover {
	color:darkgrey;
}

.choiceText {
    padding: 1rem;
    width: 100%;
} 

#question {
	color: white;
} */


